.form .container {
  width: 60%;
  margin-left: 5%;
}


.heading {
  text-align: center;
  font-weight: bold;
}

.label1 {
  font-weight: bold;
  font-size: 20px;
}

.label2 {
  font-weight: bold;
}

.btn {
  background-color: #660000;
  color: aliceblue;
  font-weight: bold;
  align-content: center;
  font-size: 15px;
  margin-left: 45%;
}
