<app-navbar></app-navbar>
<div class="container mt-85">
    <div class="jumbotron">
        <div class="container">
            <h2 class="heading">Mortgage Form</h2>
  
      <div class="form">
        <!-- Angular 7 Reactive Form Validations at https://jasonwatmore.com-->
  
        <!--Form examples from https://mdbootstrap.com/docs/angular-->
  
        <form [formGroup]="MortgageForm" (ngSubmit)="onSubmit()">
  
          <br>
          <div class="form-group">
              <label class="label2">Mortgage ID</label>
              <input type="text" formControlName="MortgageID" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MortgageID.errors }" />
              <div *ngIf="submitted && f.MortgageID.errors" class="invalid-feedback">
                  <div *ngIf="f.MortgageID.errors.required">MortgageID is required</div>
              </div>
          </div>
          <div class="form-group">
            <label class="label2">Broker Website URL</label>
            <input type="text" formControlName="URL" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.URL.errors }" />
            <div *ngIf="submitted && f.URL.errors" class="invalid-feedback">
                <div *ngIf="f.URL.errors.required">MortgageID is required</div>
            </div>
        </div>
          <div class="form-group">
              <input type="checkbox" id="checkbox" formControlName="confirmCheckbox"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.confirmCheckbox.errors }" />
            I agree to send the required details to Mortgage Broker
              <div *ngIf="submitted && f.confirmCheckbox.errors" class="invalid-feedback">
                  <span *ngIf="f.confirmCheckbox.errors.required">Please check the checkbox to continue !!</span>
              </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <router-outlet></router-outlet>
