<div class="container mt-85">
  <div class="jumbotron">
    <div class="container">
      <h2 class="heading">Appraisal Form</h2>

      <div class="form">
        <!-- Angular 7 Reactive Form Validations at https://jasonwatmore.com-->

        <!--Form examples from https://mdbootstrap.com/docs/angular-->

        <form [formGroup]="requestAppraiserForm" (ngSubmit)="onSubmit()">
          <br>
          <div class="form-group">
            <label class="label2"> Name:</label>
            <input type="text" formControlName="Name" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"/>
            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
              <div *ngIf="f.Name.errors.required"> Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="label2">House M1sID:</label>
            <input type="text" formControlName="M1sID" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.M1sID.errors }"/>
            <div *ngIf="submitted && f.M1sID.errors" class="invalid-feedback">
              <div *ngIf="f.M1sID.errors.required">House MlsID is required</div>
            </div>
          </div>
          <div class="form-group">
            <label class="label2">Mortgage ID(MortID):</label>
            <input type="text" formControlName="MortID" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.MortID.errors }"/>
            <div *ngIf="submitted && f.MortID.errors" class="invalid-feedback">
              <div *ngIf="f.MortID.errors.required">Mortgage ID(MortID) is required</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
