
/* td,th{
    border: 1px solid black;
  }
  table{
    border-collapse: collapse;
    width: 90%;
  }
  tr:nth-child(even){
  background-color:lightgray;
  }
  .headerstyle{
background:lightgray;
  }
  .boldFont{
      font-weight: bold;
  }
  .textboxmargin {
      margin-left: 1%;
  }
  .topSpacing
  {
    margin-top: 5%;
  } */

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
  }
  
  table tr {
    border-bottom: 1px solid #ddd;
  }
  
  table tr.header {
    background-color: gray;
    color: white;
  }
  
  table tbody tr:hover {
    background-color:  #c58f8f;
  }