
td,th{
    border: 1px solid black;
  }
  table{
    border-collapse: collapse;
    width: 90%;
  }
  tr:nth-child(even){
  background-color:lightgray;
  }
  .headerstyle{
background:lightgray;
  }
  .boldFont{
      font-weight: bold;
  }
  .textboxmargin {
      margin-left: 1%;
  }
